﻿

.input-group > .selectize-control > .selectize-input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group .inner-addon .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
}


.input-group .ui-select-container .form-control.ui-select-toggle {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    max-width: 469px;
}


