﻿<div class="col-sm-6 col-sm-offset-3">
    <h3>Componente Input Number</h3>
    <br/>
    
    <div class="panel panel-default">
        <div class="panel-heading">Exemplo</div>
        <div class="panel-body">
            <div class="col-sm-6">
                <ngf-input-number ng-model="vm.number" min="1" max="20"></ngf-input-number>
            </div>
        </div>
    </div>
</div>

